body {
  font-size: 100%;
}

.wrap {
  word-wrap: break-word;
}

.searchForm {
  border: solid;
  padding: 1%;
}

.miner {
  width: 200px;
  height: 200px;
  font-size: 2em;
  background: tan;
  box-shadow: -5px 5px 20px 20px rgb(172, 140, 99) inset;
  border: solid;
  padding: 2%;
  text-align: center;
  margin: .5%;
  display: inline-block;
}

.minerDisplay {
  display: grid;
  grid-template-columns: auto auto auto ;
  background: red;
}


.mapDisplay {
  width: 820px;
  height: 820px;
  box-shadow: 0 0 50px 2px gray inset;
  margin: 20px;
}

.mapRow {
  position: relative;
  /* height: 8px; */
}

.pixel {
  position: relative;
  display: inline-block;
}